@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: panthera;
  src:url(assets/panthera-font/panthera.ttf);
}



html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(65deg, #4B019A 0%, #070211 73.66%);
  overflow: hidden;
  margin: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: panthera;
  font-size: 24px;
}

li a:hover {
  background-color: #111;
}

.header {
  display: flex;
  justify-content: center;
   color: white;
  font-size: 36px;
  text-align: center;
  
  
  h1 {
    font-family: panthera;
    text-align: center;
  }'
}

.main{

  height: 100%;

  .header {
    display: flex;
    justify-content: center;
     color: white;
    font-size: 36px;


    h1 {
      font-family: panthera;
    }'
  }

  .main-container {
    padding: 20px 50px;

    .main-content {
      color: white;
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;

      h1 {
        font-family: panthera;
      }

      h3, p {
        font-family: poppins;
      }
    }
    
  }

  
}

#img-div {
position: fixed;
right: -190px;
bottom: -5px;

  img {
    width: 100%;
    height: auto;
  }
}

@media  screen and (max-width: 768px) {

  html, body {
    overflow: auto;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;

    .main-content {
      justify-content: center;
      width: 100% !important;
    }
    
  }
  .chadwick {
    display: none;
  }

  .panther {
    display: block;
  }

  #img-div {
    display: flex;
    width: 100%;
    justify-content: center;
    position: unset;

    #img-content {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .panther {
      width: 50%
    }
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(\25vh - 50px);
    overflow:hidden;
  }
}


@media (min-width: 769px) and (max-width: 1920px) {
  .chadwick {
    display: block;
  }

  .panther {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #img-div {
    display: flex;
    justify-content: center;
     width: 80%;  
  }
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #070211;
  position: relative;
  display: flex;
  justify-content: center;
   font-family: panthera;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color:#4B019A;
}

.nav > #nav-check {
  display: none;
}